body
		{
			background: black;
			margin: 0;
		}

		#text
		{
			text-transform: capitalize;
			color: black;
			text-align: center;
		}

		#container
		{
			background: white;
			width: 100%;
			height: 50px;
			margin-top: calc(50vh - 15px);
		}